@model User;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<p class="text-danger fs-1">
    Hello <span class="text-warning">@Model.Name</span><span class="text-success">!</span>
</p>